.burger svg{
    transition: 0.3s;
    
}
.burger:hover svg{
    transition: 0.3s;
    filter: drop-shadow(0 0 6px #4a6cff;)
}
.menu{
    display: none;
    flex-direction: column;
    background: #eee;
    position: absolute;
    top: 60px;
    left: 10px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    animation: fadeIn 0.2s ease;
}
.menu a{
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-radius: 8px;
    transition: 0.2s;
}
.menu a:hover{
    /* avoid large jumon hover; use subtle highlight */
    background: #4a6cff;
    color: white;
    transform: translateX(5px);

}
.menu.show{
    display: flex;
}

/*############ Admin Panel ##############*/

.top{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.user{
    margin: 10px;
}